.keyvalue{
  margin-bottom: 10px;
}

.keyInput{
  margin-right: 5px;
}

.updateKeyValueButton{
  margin-left: 5px;
}

.deleteKeyValueButton{
  margin-left: 5px;
}

.keysDropdown{
  min-width: 150px;
  margin-top: 10px;
}

.valuesInput{
  margin-left: 10px;
  min-width: 150px;
}

.formInput{
  border-radius: 5px;
  border: 2px solid grey;
  padding: 2px 2px 2px 10px
}

#keyHeading{
  margin-bottom: 5px;
}

#keyValueHeading{
  margin-bottom: 10px;
}

#createKeyValueButton{
  margin-bottom: 5px;
}

#keyValueContainer{
  width: 40vw;
  padding-left: 6vw;
  float: left;
}

#keyAssignContainer{
  width: 27vw;
  padding-left: 3vw;
  float: left;
}

#serverTextContainer{
  width: 27vw;
  padding-left: 3vw;
  float: left;
}

#serverTextArea{
  height: 75vh;
  width: 100%;
  margin-top: 10px;
}

#mainContainer{
  margin-top: 5vh;
  height: 90vh;
}
